body{
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'Titillium Web', sans-serif;
	font-size:20px;
}

.nav-bar{
	min-height:70px;
}

.dropdown-menu{
	font-size:17px;
}

.table_container{
	float:left;
	margin: 0px;
	padding: 15px;
	cursor:pointer;
	text-align:center;
	font-size:28px;
}

.table_container:hover{
	padding : 14px;
	border : 1px solid #D35400;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;	
}

.table_title{
	background-color: #E67E22;
	border-bottom:0px;
	color:#ffffff;
	font-weight:bolder;
	text-transform:uppercase;
	border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
}

.table_status{
	padding:20px 0px;
	background-color:#D35400;
	color: #ffffff;
	font-size:25px;
	border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
}
